@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
    --color_dark: #1D1D1D;
    --color_white: #ffffff;
    --color_red: #c36;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

img {
    max-width: 100%;
}
html, body{
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: var(--color_red);
}

header {
    min-height: 100px;
}

footer {
    background-color: var(--color_dark);
}

footer li {
    list-style: none;
}

footer li a {
    color: var(--color_white);
}

.logos-gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}
.the-team-cards{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
}
.the-team-cards .card {
    border: none;
    border-radius: unset;
}
.the-team-cards .card img {
    border-radius: unset;
}
.figure-img-wrap {
    overflow: hidden;
}
.figure .figure-img {
    transform: scale(1);
    transition: 1s;
    margin: 0;
}
.figure:hover .figure-img {
    transform: scale(1.3);
}
.figure .figure-caption{
    padding: 14px 2px 0;
}
.slick-next, .slick-prev {
    right: 25px;
    z-index: 9;
    width: 35px;
    height: 35px;
    opacity: 0;
    transition: 0.3s;
}
.slick-next{
    right: 25px;
}
.slick-prev{
    left:25px;
}
.slick-prev:before {
    background-image: url(../images/home/arrow-left.png);
}
.slick-next:before{
    background-image: url(../images/home/arrow-right.png);
}
.slick-prev:before, .slick-next:before{
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    content: " ";
}
.home-slider:hover .slick-arrow{
    opacity: 1;
}
.slick-list, .slick-track{
    height: 100%;
}
.single-item{
    background-size: cover;
    background-repeat: no-repeat;
}
.slider-section{
    height: 36.5vw;
}
.slider-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: inherit;
}
.slider-content-top{
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
}
.slider-content-bottom {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
}
.slider-content-center{
    font-size: 68px;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
}

.single-item-1{
    background-image: url("../images/home/ermis-gold.jpg");
}
.single-item-2{
    background-image: url("../images/home/fullstack-marketing.jpg");
}
.single-item-3{
    background-image: url("../images/home/digital-dissraption-sessions.jpg");
}
@media (max-width: 575px) {
    .slick-prev:before, .slick-next:before, .slick-next, .slick-prev{
        width: 25px;
        height: 25px;
    }
    .slider-content-bottom {
        font-size: 11px;
    }
    .slider-section{
        height: 40vw;
    }
}
/* sm */
@media (min-width: 576px) {
    .logos-gallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .the-team-cards{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* md */
@media (min-width: 768px) {
    .logos-gallery {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    
}

/* lg */
@media (min-width: 992px) {
    .logos-gallery {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .the-team-cards{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* xl */
@media (min-width: 1200px) {
    
}

/* xxl */
@media (min-width: 1400px) {
    .logos-gallery {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}


input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }