@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root{
    --color_dark: #1D1D1D;
    --color_white: #ffffff;
}
img{
    max-width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
header{
    min-height:100px;
}

footer{
    background-color: var(--color_dark);
}
footer li{
    list-style: none;
}
footer li a{
    color: var(--color_white);
    text-decoration: none;
}